<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [pieChartType]="graficos.grafico1.type" [pieChartData]="graficos.grafico1.data" [pieChartLabels]="graficos.grafico1.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [pieChartType]="graficos.grafico2.type" [pieChartData]="graficos.grafico2.data" [pieChartLabels]="graficos.grafico2.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [pieChartType]="graficos.grafico3.type" [pieChartData]="graficos.grafico3.data" [pieChartLabels]="graficos.grafico3.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafico-dona [pieChartType]="graficos.grafico4.type" [pieChartData]="graficos.grafico4.data" [pieChartLabels]="graficos.grafico4.labels"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>